@use '../base/variables' as v;
@use '../base/mixins' as m;

.header_bienvenida{
    height: 48px;
    align-items: center;
    .content_all-buttons{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .content_button-hamburguesa{
            .toggleAbrirMenuHeader{
                margin: 1rem;
                cursor: pointer;
            }
        }

        .content_user{
            align-items: center;
            display: flex;
            justify-content: center;   
            
            i{
                margin-left: 1rem;
            }

            .content_info-user{
                display: flex;
                
                p{
                    font-size: 15px;
                    margin-left: 1rem;
                }
            }

            .content_opciones-user{
                display: block;

                .content_configuracion-usuario{
                    position: absolute;
                    list-style: none;
                    margin-top: 15px;
                    left: 70%;

                    li{
                        padding: 10px 30px;
                        background-color: v.$verde;
                        list-style: none;
                        border-radius: 3px;
                        border: 1px solid v.$negro;       
                        a{
                            display: flex;
                            align-items: center;
                            color: v.$negro;

                            i{
                                margin-right: 1rem;
                            }

                            p{
                                font-size: 15px;
                                display: none;

                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }

            }     
        }
    }

    .content_menu-desplegable{
        position: fixed;
        top: 0;
        bottom: 0%;
        right: 0;
        left: 0;
        z-index: 99;
        margin: 0;
        padding: 0;
        background-color: v.$grisOscuro;
        width: 200px;
        
        .all_content-menu-desplegable{
            .content_button-cerrar{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                margin: 10px 0 10px 10px;
                cursor: pointer;

                p{
                    text-align: center;
                    color: v.$verde;
                }

                i{
                    text-align: center;
                    margin: 10px 0 10px 10px;
                }
            }

            .menu_desplegable{
                margin-top: 1rem;
                
                
                ul{
                    :first-child{
                        a{
                            background-color: v.$verde;
                            border: none;
                            border-radius: 5px;
                            padding: 5px;
                            width: 100%;
                        }
                        
                    }

                    li{
                        margin-top: 1.7rem;
                        width: 95%;
                        transition: .25s;
                        
                        &:hover{
                            cursor: pointer;
                            transform: scale(1.1);
                            background-color: v.$verde;
                            padding: 10px 40px;
                            border: none;
                            border-radius: 5px;
                        }

                        a{
                            display: flex;

                            i{
                                margin-left: 15px;
                            }

                            p{
                                font-size: 15px;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

//Contenido principal
main{
    display: flex;
    height: 820px;
    align-items: center;
    justify-content: center;

    .content_bienvenida{
        text-align: center;

        h2{
            font-size: v.$titulo;
        }

        .content_instancias{
            text-align: center;
            align-items: center;
            justify-content: center;
            display: flex;

            a{
                button{
                    display: flex;
                    margin-top: 1rem;
                    background-color: v.$verde;
                    border: none;
                    border-radius: 5px;
                    padding: 10px 40px;
                    align-items: center;
                    transition: .25s;

                    &:hover{
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                    i{
                        margin: 5px;
                    }
        
                    p{
                        margin: 5px;
                    }
                }
            }
        }
    }
}

//Pie de página
footer{
    background-color: v.$gris;

    .content_footer{
        text-align: center;
        padding: 1rem;

        p{
            a{
                color: v.$negro;
                text-decoration: underline;

                &:hover{
                    color: v.$verde;
                }
            }
        }
    }

}

//VERSIÓN RESPONSIVE DEL PANEL DE BIENVENIDA
.header_bienvenida{
    @include m.tabletR{
        .content_all-buttons{
            .content_user{
                .content_opciones-user{
                    .content_configuracion-usuario{
                        li{
                            padding: 10px 50px;
                        }
                    }
                }
            }
        }
        .content_menu-desplegable{
            width: 240px;
        }
    }
    @include m.desktopR{
        .content_all-buttons{
            .content_user{
                .content_opciones-user{
                    .content_configuracion-usuario{
                        li{
                            padding: 10px 20px;
                            a{
                                p{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
        .content_menu-desplegable{
            width: 240px;
        }
    }
}