@use '../base/variables' as v;
@use '../base/mixins' as m;

header{
    background-color: v.$gris;
    //height: 820px; 
}

.navbar{
    background-color: v.$negro;
    display: flex;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 1;



    .content_logo{
        video{
            width: 80px;
            position: relative;
            left: 3rem;
        }
    }

    .content_enlaces{
        margin: 0% auto;
        
        
        ul{
            padding-top: 30px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            li{
                a{
                    color: v.$blanco;
                    text-decoration: none;

                    &:hover{
                        color: v.$verde;
                    }
                }
            }
        }
    }

    .content_navbar-small{
        display: none;
    }
}

//Versión responsive
.navbar{
    @include m.phone{
        .content_enlaces{
            display: none;
        }

        .content_navbar-small{
            display: block;

            .abrir_nav{
                width: 50px;
                height: 50px;
                position: absolute;
                right: 2%;
                top: 12px;
                filter: invert(100%);

                &:hover{
                    cursor: pointer;
                }
            }

            .content_menu-desplegable-header{
                background-color: v.$negro;
                top: 0%;
                left: 0%;
                position: fixed;
                visibility: inherit;
                z-index: 1;
                bottom: 0%;
                width: 180px;
                transition: 0.5s;


                .content_menu{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    h4{
                        color: v.$blanco;
                        margin: 0% auto;
                        position: relative;
                        top: 10px;
                    }
                    .cerrar_nav{
                        width: 20px;
                        height: 20px;
                        filter: invert(100%);
                        position: relative;
                        top: 10px;

                        &:hover{
                            cursor: pointer;
                        }
                    }
                }

                .content_enlaces-small{
                    ul{
                        padding-top: 1rem;
                        li{
                            background-color: v.$blanco;
                            margin: 0% auto;
                            list-style: none;
                            margin-top: 1rem;
                            padding: 10px 0;
                            width: 90%;
                            text-align: center;
                            border-radius: 5px;
                            transition: .25s;


                            &:hover{
                                cursor: pointer;
                                transform: scale(1.1);
                                color: v.$verde
                            }
    
                            a{
                                text-decoration: none;
                                color: v.$negro;
                            }
                        }
                    }
                }
            }
        }
    }

    @include m.tablet{
        .content_enlaces{
            display: none;
        }

        .content_navbar-small{
            display: block;

            .abrir_nav{
                width: 50px;
                height: 50px;
                position: absolute;
                right: 2%;
                top: 12px;
                filter: invert(100%);

                &:hover{
                    cursor: pointer;
                }
            }

            .content_menu-desplegable-header{
                background-color: v.$negro;
                top: 0%;
                left: 0%;
                position: fixed;
                visibility: inherit;
                z-index: 1;
                bottom: 0%;
                width: 250px;
                transition: 0.5s;

                .content_menu{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    h4{
                        color: v.$blanco;
                        margin: 0% auto;
                        position: relative;
                        top: 10px;
                    }
                    .cerrar_nav{
                        width: 20px;
                        height: 20px;
                        filter: invert(100%);
                        position: relative;
                        top: 10px;

                        &:hover{
                            cursor: pointer;
                        }
                    }
                }

                .content_enlaces-small{
                    ul{
                        padding-top: 1rem;
                        li{
                            background-color: v.$blanco;
                            margin: 0% auto;
                            list-style: none;
                            margin-top: 1rem;
                            padding: 10px 0;
                            width: 90%;
                            text-align: center;
                            border-radius: 5px;
                            transition: .25s;


                            &:hover{
                                cursor: pointer;
                                transform: scale(1.1);
                                color: v.$verde
                            }
    
                            a{
                                text-decoration: none;
                                color: v.$negro;
                            }
                        }
                    }
                }
            }
        }
    }
}