//Colores
$negro: black;
$blanco: #ffff; 
$verde: #52BE80; 
$gris: #EAEDED;
$grisOscuro:#566573 ;

//Tamaño de fuentes
$titulo: 3rem;
$parrafo: 1.2rem;


//Medidas para los media queries
$phone: 480px;
$tablet-min: 481px;
$tablet-max: 768px;
$desktop-min: 769px;
$desktop-max: 1199px;
$desktopXl: 1200px;

//fuentes
$fuente: 'Outfit', sans-serif;
