//Colores
$negro: black;
$blanco: #ffff; 
$verde: #52BE80;
$verdeOscuro:#1e8449;
$gris: #EAEDED;
$grisOscuro:#566573 ;
$grisClaro: #99a3a4; 
$azulMarino: #3498db;
$grisBlanco: #e5e7e9;
$rojoDanger: #c0392b; 
$amarillo: #f4d03f; 

//Tamaño de fuentes
$titulo: 3rem;
$parrafo: 1.2rem;


//Medidas para los media queries
$phone: 480px;
$tablet-min: 481px;
$tablet-max: 768px;
$desktop-min: 769px;
$desktop-max: 1199px;
$desktopXl: 1200px;

$phoneR: 30rem;
$tabletR: 30.063rem;
$desktopR: 48rem;
$desktopXlR: 75rem;

//fuentes
$fuente: 'Outfit', sans-serif;
