<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
    <link rel="icon" href="../../src/img/Whatssive.png">
    <link rel="stylesheet" href="../../build/css/app.css">
</head>
<body>
    <header class="header_bienvenida">
        <div class="content_all-buttons">
            <div class="content_button-hamburguesa">
                <i class="fa-solid fa-bars toggleAbrirMenuHeader" title="Abrir"></i>
            </div>  
            <div class="content_user">
                <div class="content_info-user">
                    <i class="fa-solid fa-user"></i>
                    <p>Jose Luis</p>
                </div>

                <div class="content_opciones-user">
                    <i class="fa-solid fa-caret-right caret_right"></i>
                    <i class="fa-solid fa-caret-down caret_down" style="display: none;"></i>
                    <ul class="content_configuracion-usuario" style="display: none;">
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-gear"></i>
                                <p>Ajustes</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-power-off"></i>
                                <p>Cerrar Sesión</p>
                            </a>
                        </li>
                    </ul>
                    

                </div>
            </div>
        </div>

        <div class="content_menu-desplegable" style="display: none;">
            <div class="all_content-menu-desplegable">
                <div class="content_button-cerrar" title="Cerrar">
                    <p>Menú</p>
                    <i class="fa-sharp fa-solid fa-x toggleCerrarMenuHeader"></i>            
                </div>
    
                <nav class="menu_desplegable">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-file"></i>
                                <p>Tablero de mandos</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-file"></i>
                                <p>Instancias</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-file"></i>
                                <p>Documentación</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-file"></i>
                                <p>Generador Vcard</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-file"></i>
                                <p>Artículos</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-file"></i>
                                <p>Youtube</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-file"></i>
                                <p>Contactanos</p>
                            </a>
                        </li>
                    </ul>                  
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="content_bienvenida">
            <h2>Bienvenido a Whatsive👋</h2>
            <p>Crea tu primera instancia y empieza a enviar mensajes</p>

            <div class="content_instancias">
                <a href="#"><button>
                    <i class="fa-solid fa-layer-group"></i>
                    <p>Instancias</p>
                </button></a>
            </div>
    </main>

    <footer>
        <div class="content_footer">
            <p>&copy; 2022 - <a href="#">Whatsive</a></p>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/1fb0613f73.js" crossorigin="anonymous"></script>
    <script src="../../src/js/header.js" type="module"></script>
</body>
</html>