@use '../base/variables'as v;
@use '../base/mixins' as m;

.body_instancias{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    .content_all-instancias{
        .content_header-instancias{
            display: grid;
            gap: 5px;
            .inicio_instancias{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .content_parrafo-instancia{
                display: flex;
                gap: 10px;
            }
            .content_boton-agregar-instancias{
                display: flex;
                align-items: center;
                background-color: v.$verde;
                width: 50%;
                margin: 0% auto;
                border-radius: 10px;
                transition: .25s ease;
                &:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }

                .icon{
                    background-color: v.$verdeOscuro;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    width: 40px;
                    justify-content: center;
                    border-radius: 10px 0 0 10px;
                    i{
                        font-size: 20px;
                        filter: invert(100);
                    }
                }
                .boton{
                    button{
                        background-color: v.$verde;
                        border: none;
                        border-radius: 5px;
                        padding: 5px 15px;
                        color: v.$blanco;
                        font-weight: 600;
                        width: 100%;
                    }
                }
            }
        }
        .content_tabla-instancias{
            margin-top: 2rem;
            .content_header-tabla{
                border: 1px  solid v.$grisClaro;
                .content_titulo-header-tabla{
                    text-align: center;
                    font-weight: 600;
                }
            }
            .tabla{
                .tabla_instancias{
                    border: 1px solid v.$grisClaro;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    text-align: center;
                    thead{
                        background-color: v.$grisBlanco;
                        tr{
                            display: block;
                            :last-child{
                                border-bottom: 0px;
                                justify-content: center;
                            }
                            th{
                                padding: 10px;
                                border-bottom: 1px solid v.$grisClaro;
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                a{
                                    display: flex;
                                    i{
                                        color: v.$azulMarino;
                                    }
                                }
                            }
                        }
                    }
                    tbody{
                        tr{
                            display: grid;
                            td{
                                padding: 10px;
                                border-bottom: 1px solid v.$grisClaro;
                                display: flex;
                                justify-content: center;
                                #estatus{
                                    border-radius: 5px;
                                    background-color: v.$amarillo;
                                }
                                .content_boton-pagar{
                                    button{
                                        background-color: v.$verde;
                                        border: none;
                                        padding: 4px;
                                        border-radius: 2px;
                                        transition: .25s ease;
                                        &:hover{
                                            cursor: pointer;
                                            transform: scale(1.1);
                                        }
                                        i{
                                            filter: invert(100);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .content_paginador{
                padding-top: 2rem;
                .content_botones-paginador{
                    text-align: center;
                    :first-child{
                        background-color: v.$grisClaro;
                    }
                    button{
                        background-color: v.$grisOscuro;
                        border: none;
                        color: v.$blanco;
                        border-radius: 5px;
                        padding: 10px;
                        width: 90px;
                    }
                }
            }
        }
    }
}

//TABLA INSTANCIAS CERSIÓN RESPONSIVE
.body_instancias{
    .content_all-instancias{
        @include m.tabletR{
            width: 90%;
            .content_header-instancias{
                .content_boton-agregar-instancias{
                    height: 40px;
                }
            }
        }
        @include m.desktopR{
            .content_header-instancias{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 0px;
                .content_boton-agregar-instancias{
                    .boton{
                        button{
                            text-align: center;
                            display: flex;
                            gap: 5px;
                        }
                    }
                }
            }
            .content_tabla-instancias{
                .tabla{
                    .tabla_instancias{
                        overflow-x: auto;
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        thead{
                            flex-basis: 100%;
                            tr{
                                display: grid;
                                width: 100%;
                                grid-template-columns: repeat(5, 1fr);
                                text-align: center;
                                th{
                                    border-bottom: 0px;
                                }
                            }
                        }
                        tbody{
                            tr{
                                display: grid;
                                grid-template-columns: repeat(5, 1fr);
                                text-align: start;
                                td{
                                    text-align: left;
                                    border-bottom: 0px;
                                }
                            }
                        }
                    }
                    .content_paginador{
                        .content_botones-paginador{
                            button{
                                transition: .25s ease;
                                &:hover{
                                    transform: scale(1.1);
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
        @include m.desktopXlR{
            .content_header-instancias{
                .content_boton-agregar-instancias{
                    .boton{
                        button{
                            display: flex;
                            :last-child{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}